:root {
    --measure: 65ch;
    --ratio: 1.4;

    --s-1: calc(var(--s0) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --r-1: calc(var(--r0) / var(--ratio));
    --r-2: calc(var(--r-1) / var(--ratio));
    --r-3: calc(var(--r-2) / var(--ratio));
    --r-4: calc(var(--r-3) / var(--ratio));
    --r-5: calc(var(--r-4) / var(--ratio));
    --r0: 1;
    --r1: calc(var(--r0) * var(--ratio));
    --r2: calc(var(--r1) * var(--ratio));
    --r3: calc(var(--r2) * var(--ratio));
    --r4: calc(var(--r3) * var(--ratio));
    --r5: calc(var(--r4) * var(--ratio));
}
