.circleIcon {
    pointer-events: none;
}

.circleIcon::part(base) {
    color: var(--sl-color-neutral-1000);
    border-color: currentColor;
    position: relative;
}

.circleIcon sl-icon {
    font-size: var(--s0);
}

.circleIcon[size='large'] sl-icon {
    font-size: var(--s1);
    /* line-height: var(--s2); */
}
