.instructions {
    border-radius: var(--sl-border-radius-large);
    color: var(--sl-color-neutral-950);
    overflow: hidden;
    padding: var(--s2);
    padding-bottom: 0;
    position: relative;

    h3 {
        font-size: var(--sl-font-size-large);
    }

    &::before {
        content: '';
        background-color: var(--sl-color-primary-900);
        height: 100%;
        inset: 0;
        opacity: 0.1;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    ul {
        padding-inline-start: var(--s1);
        font-size: var(--sl-font-size-normal);

        li {
            margin-block-end: var(--s-2);
        }
    }
}
