modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5175
externalPort = 6800

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33531
externalPort = 5000

[[ports]]
localPort = 36883
externalPort = 4200

[[ports]]
localPort = 36927
externalPort = 3003

[[ports]]
localPort = 41367
externalPort = 6000

[[ports]]
localPort = 41897
externalPort = 3001

[[ports]]
localPort = 42417
externalPort = 3002

[[ports]]
localPort = 45087
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start.sh"

[userenv]

[userenv.development]
DJANGO_APP_MODE = "local"
DJANGO_APP_DEBUG = "True"
DJANGO_APP_ALLOWED_HOSTS = "localhost,127.0.0.1,.replit.dev"
DJANGO_APP_CORS_ORIGINS = "http://localhost:5175,https://*.replit.dev"
DJANGO_APP_GROQ_API_KEY = ""
VITE_API_URL = "https://8000-workspace.arsen18.repl.co"
