.helpText {
    flex-wrap: nowrap;
    width: 100%;
    margin-top: var(--s-4);
}

.helpText.danger {
    color: var(--sl-color-danger-600);
}

.helpText.neutral {
    color: var(--sl-color-neutral-600);
}

.helpText.primary {
    color: var(--sl-color-primary-600);
}

.helpText.success {
    color: var(--sl-color-success-600);
}

.helpText.warning {
    color: var(--sl-color-warning-600);
}

.tooltip {
    cursor: pointer;
}
