.wrapper {
    background-color: var(--sl-color-neutral-50);
}

.card {
    border: 1px solid var(--sl-color-neutral-300);
    border-radius: var(--sl-border-radius-large);
    padding: var(--s2);
    background-color: var(--sl-color-neutral-0);
}
