.wrapper {
    background-color: var(--sl-color-neutral-50);
}

.card {
    border: 1px solid var(--sl-color-neutral-300);
    border-radius: var(--sl-border-radius-large);
    padding: var(--s2);
    background-color: var(--sl-color-neutral-0);
}

.footer {
    background-color: var(--sl-color-neutral-50);
    box-shadow: var(--sl-shadow-x-large);
    padding: var(--s2) var(--s5);
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.footer::before {
    border-top: 1px solid var(--sl-color-neutral-300);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}
