.header .title {
    text-align: left;
}

.header p {
    color: var(--sl-color-neutral-700);
    font-size: var(--s0);
}

.header .commitmentNote {
    &::before,
    &::after {
        border-top: 1px solid var(--sl-color-neutral-300);
        content: '';
        width: 100vw;
    }
}
