.header {
    background-color: var(--sl-color-neutral-50);
    box-shadow: var(--sl-shadow-x-large);
    padding: var(--s2) var(--s5);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header::before {
    border-bottom: 1px solid var(--sl-color-neutral-300);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.icon {
    pointer-events: none;
}
