.wrapper {
    width: 100%;
    padding: 20px;
}

.progress {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.mobileMap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}
