.typing {
    --size: var(--sl-font-size-large);
    width: var(--size);
    height: var(--size);
    /* aspect-ratio: 1; */
    --_g: no-repeat
        radial-gradient(
            circle closest-side,
            var(--sl-color-neutral-900) 90%,
            #0000
        );
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: loading-dots 1.1s infinite linear;
}
@keyframes loading-dots {
    20% {
        background-position:
            0% 0%,
            50% 50%,
            100% 50%;
    }
    40% {
        background-position:
            0% 100%,
            50% 0%,
            100% 50%;
    }
    60% {
        background-position:
            0% 50%,
            50% 100%,
            100% 0%;
    }
    80% {
        background-position:
            0% 50%,
            50% 50%,
            100% 100%;
    }
}
