sl-icon,
sl-icon-button {
    --icon-color: var(--sl-color-neutral-600);
    --icon-size: var(--s0);
    color: var(--icon-color);
    font-size: var(--icon-size);
}

sl-button sl-icon {
    color: inherit;
}

sl-icon-button {
    transition: color var(--sl-transition-fast);
}

sl-icon-button:not(:has([variant])):hover {
    --icon-color: var(--sl-color-primary-600);
}

sl-icon-button:hover::part(base) {
    color: var(--icon-color);
}

:is(sl-icon, sl-icon-button, sl-icon-button:hover)[variant='warning'] {
    --icon-color: var(--sl-color-warning-600);
}

:is(sl-icon, sl-icon-button, sl-icon-button:hover)[variant='danger'] {
    --icon-color: var(--sl-color-danger-600);
}

:is(sl-icon, sl-icon-button, sl-icon-button:hover)[variant='neutral'] {
    --icon-color: var(--sl-color-neutral-600);
}

:is(sl-icon, sl-icon-button, sl-icon-button:hover)[variant='success'] {
    --icon-color: var(--sl-color-success-600);
}

:is(sl-icon, sl-icon-button, sl-icon-button:hover)[variant='primary'] {
    --icon-color: var(--sl-color-primary-600);
}
