.drawer {
    --size: calc(var(--measure) / var(--r0) - var(--sl-spacing-3x-large));
    --header-spacing: var(--s3);
    --footer-spacing: var(--s3);
    --body-spacing: var(--s2);
}

.drawer::part(overlay) {
    --sl-overlay-background-color: var(--sl-color-neutral-400);
    opacity: 0.79;
}

.drawer::part(close-button) {
    display: none;
    pointer-events: none;
}

.drawer::part(header) {
    overflow: hidden;
    padding: var(--header-spacing);
    padding-bottom: 0;
    min-height: calc(var(--measure) / var(--r4) - var(--sl-spacing-large));
}

.drawer::part(title) {
    padding: 0;
}

.drawer::part(footer) {
    border-top: 1px solid var(--sl-color-neutral-300);
    padding: var(--s1) var(--footer-spacing);
}
