.wrapper {
    --wrapper-max-width: calc(var(--measure) * var(--r2));
    background-color: var(--sl-color-neutral-50);
    position: relative;
}

.messages {
    justify-content: flex-end;
    min-height: calc(var(--measure) * var(--r1));
    padding-bottom: var(--sl-spacing-x-large);
}

.controls {
    align-items: center;
    background-color: var(--sl-color-neutral-50);
    bottom: 0;
    display: grid;
    height: calc(var(--measure) / (var(--r5)));
    position: sticky;

    cluster-l {
        flex-wrap: nowrap;
        position: relative;
    }

    sl-textarea {
        border-radius: var(--sl-border-radius-small);
        padding-bottom: var(--sl-spacing-x-small);
        width: 100%;
    }

    .send {
        right: 5%;
        position: absolute;
    }
}
